HTML, BODY {
    height: 100%;
    font-family:'Poppins';
}
HEADER {
  background-color:#171717;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 100;
}

HEADER NAV LI {
  display:inline-block;
  padding:10px;
  cursor:pointer;
  color:white;
}
HEADER NAV LI A,
HEADER NAV LI A:visited{
  color:white;
}
HEADER NAV LI A:hover{
  text-decoration:none;
}
HEADER NAV LI:hover{
  background-color:orange;
}
.content{
  padding-top: 45px;
}
.header-search{
  height:40px;
}
.search-icon{
  height:30px;
  margin-top:5px;
  float:right;
  cursor:pointer;
}
FOOTER{
  background-color:#222222;
  color:white;
  padding-top: 15px;
}
.wrap {
  min-height: 100%;
  /* equal to footer height */
	margin-bottom: -200px;
}
.wrap:after {
  content: "";
  display: block;
}
FOOTER, .wrap:after {
  /* .push must be the same height as footer */
	height: 200px;
}
.footer-title,.footer-posts,.footer-post-title {
  text-align:center;
}
.footer-title{
  font-size: 17px;
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.footer-title:after,
.footer-title:before{
  content:'';
  height:5px;
  width:49%;
  position: absolute;
  top: 25px;
}
.footer-title:after{
  left: 0;
  background-color:black;
}
.footer-title:before{
  right:0;
  background-color:lightgrey;
}
.footer-posts {
  margin-top: 20px;
}
.footer-post {
  padding-bottom: 5px;
  border-bottom: 1px dashed grey;
}

.footer-post-title {

}
