
{% extends 'base.html.twig' %}

{% block body %}
  <h1>
    Hello, this is article with id = {{article.id}}
  </h1>
  <h2>{{article.title}}</h2>
  <p>{{article.content}}</p>
{% endblock %}

{% block stylesheets %}

{% endblock %}
