
{% extends 'base.html.twig' %}

{% block content %}
  <h1>About</h1>
  
{% endblock %}

{% block stylesheets %}
  {{parent()}}
  <!-- <link rel="stylesheet" href="{{asset('css/homepage/main.css')}}"> -->
{% endblock %}
{% block javascripts %}
  {{parent()}}
  <!-- <script type="text/javascript" src="{{asset('js/homepage/script.js')}}"></script> -->
{% endblock %}
